/* Estilos para pantallas pequeñas */

html {
  font-size: 100%;
}

@media (max-width: 480px) {
  .inputContainer {
    flex-direction: column;
  }

  .claseProteinas, .claseCarbos, .claseGrasas {
    display: inline-block;
  }
  .botoncito-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Esto es opcional, pero puede ayudar a centrar verticalmente en toda la altura de la ventana */
  }

  /* Otras reglas para pantallas pequeñas */
}

/* Estilos generales */
.tablaAlimentos {
  width: 100%; /* Ajustar al ancho de su contenedor */
  overflow-x: auto; /* Agregar desplazamiento horizontal si es necesario */
  white-space: nowrap; /* Evitar que el texto se envuelva */
}

.boton-container {
  text-align: center;
}

.inputImportante {
  width: 40px; /* Ajusta el ancho según sea necesario */
  color:black;
  font-weight: bold;
  background-color: #F7F9F9 ;
  border-radius: .3125rem;
  border-color: #F7F9F9 ;
  border-width: 1px;
  height: 17px;
  font-size: 10px;
  margin-bottom: 1px;
}

.inputCantidadManual {
  width: 35px;
  color: black;
  font-weight: bold;
  background-color: #F7F9F9;
  border-radius: .3125rem;
  border-color: #F7F9F9;
  border-width: 1px;
  margin-top: 0.5px; /* Reducir el margen superior */
  height: 15px;
  padding-top: 0px;
  font-size: 10px;
}

.topInputs {
  margin-bottom: 10px ;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bottomInputs {
  margin-bottom: 10px ;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.boton {
  background-color: #4ca5af; /* Color de fondo */
  border: none; /* Sin borde */
  color: white; /* Color del texto */
  padding: 15px 25px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Mostrar como elemento en línea */
  font-size: 15px; /* Tamaño de la fuente */
  margin: 6px 100px; /* Margen exterior */
  transition-duration: 0.4s; /* Duración de la transición */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */

  /* Sombra */
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}

/* Cambiar el estilo al pasar el mouse */
.boton:hover {
  background-color: #45a049; /* Cambiar el color de fondo */
  box-shadow: 0px 12px 20px rgba(0,0,0,0.4); /* Cambiar la sombra */
}

.inputContainer {
  margin: 0 10px;
}

.labelContainer {
  margin-bottom: 5px;
}

.classSelect {
  background-color: antiquewhite;
}

.botonEliminar {
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 16px;
  margin-right: 5px;
}

.botonEliminar:hover {
  background-color: darkred; /* Fondo rojo oscuro al pasar el cursor */
  color: black; /* Texto negro */
}

.botonFondo {
  background-color: transparent;
  border: none;
  color: #F7F9F9;
  cursor: pointer;
  font-size: 16px;
  margin-right: 5px;
}

.inputNumerico {
  width: 35px; /* Ajusta el ancho del input aquí */
  /* Otros estilos si es necesario */
}

.th-letras {
  font-size: 10px !important;
}

.tablaAlimentos {
  width: 10%; /* Por ejemplo */
  height: 50%; /* Por ejemplo */
  margin-left: 20%;
  margin-right: 30%;
  top: 0; bottom: 0;
  left: 0; right: 0;
}

.modal-estilo {
  position: fixed;
  top: 50%; /* Centra verticalmente el modal */
  left: 50%; /* Centra horizontalmente el modal */
  transform: translate(-50%, -50%); /* Centra completamente el modal */
  width: 60%; /* Define el ancho del modal */
  max-height: 80%; /* Define la altura máxima del modal */
  overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido es demasiado largo */
  background-color: #fff; /* Color de fondo del modal */
  padding: 20px; /* Añade un relleno alrededor del contenido del modal */
  border-radius: 8px; /* Añade bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Añade una sombra */
  z-index: 1000; /* Asegura que el modal esté arriba de todo */
}

.botones-container {
  display: flex;
  gap: 3px; /* Reducir la separación entre botones */
  margin-top: 1px; /* Agregar un pequeño margen superior */
}

.botones-container button {
  padding: 3px 8px; /* Ajustar el padding para cambiar el tamaño de los botones */
  font-size: 7px; /* Tamaño del texto */
}